@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Ubuntu&display=swap');

*{
	margin: 0;
	padding: 0;
}


#gridInicio {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(5 1fr);
	grid-template-areas:
	"nav" 
	"futtot"
	"futmas"
	"futfem";
	grid-gap: 2rem;
	background-image: url(../imagenes/wallp.jpg);
	background-position: center;
	background-size: cover;
	color: #c5a25b;
	justify-items: center;
	align-items: center;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
}

@media all and (min-width: 768px) {
	#gridInicio{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);		
		grid-template-areas:
		"nav nav" 
		"futmas futtot"
		"futfem futtot";
		grid-gap: 2rem;
	    background-image: url(../imagenes/wallp.jpg);
	    background-position: center;
	    background-size: cover;
	    color: #c5a25b;
	    justify-items: center;
	    align-items: center;
	    height: 100vh;
		font-family: 'Ubuntu', sans-serif;
		width: 100%;
	}
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
	grid-area: nav !important;
	display: flex !important;
	top: 0 !important;
	background-color: #000 !important;
	width: 100% !important;
	height: 80px !important;
	flex-direction: row !important;
	justify-content: space-evenly !important;
}

/*
#header {
	grid-area: nav !important;
	position: fixed !important;
	display: flex !important;
	top: 0 !important;
	background-color: #1119 !important;
	width: 100% !important;
	height: 80px !important;
	flex-direction: row !important;
	justify-content: space-evenly !important;	
}
*/

.navbar-brand img{
	display: inline-block;
	height: 80px;
	align-items: center;
	justify-content: center;
	padding: 8px;
	cursor: pointer;
	opacity: 0.7;
}

/*
.logoNav img{
	display: inline-block;
	height: 80px;
	align-items: center;
	justify-content: center;
	padding: 8px;
	cursor: pointer;
	opacity: 0.7;
}
*/

.navbar-nav{
	width: 100% !important;
	flex-wrap: wrap !important;
	justify-content: center !important;
}

/*
#header ul.navegador{
	display: flex;
	list-style-type: none;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}
*/

#header .navegador li{
	display: inline-block;
	margin: 20px 10px;
}

#header .navegador a{
	font-size: 28px;	
	text-decoration: none;
	font-family: 'Aleo', serif;
	color: #c5a25b;
	padding: 5px;
	border-radius: 2px;
	transition: all 0.25s ease-in-out;
}

#header a:hover {
	background-color: #c5a25b ;
	color: #000;
}	

#header a.headerNavSelected{
	color: #ccc;
	font-size: 33px;
}


.futbolFemenino {
	grid-area: futfem;
}

.futbolMasculino {
	grid-area: futmas;
}


.futbolTotal {
	grid-area: futtot;
}

.border {
	display:flex ;
	flex-wrap: wrap;
	justify-items: center;
	align-items: center;
	background-color: #5557;
	height: auto;
	border-radius: 20px;
	cursor: pointer;
	border: 5px solid #0009;
	width: 80%;
	transition: all 0.25s ease-in-out;
}

.border:hover {
	color: #fff;
	background-color: #c5a25b95;
	transform: scale(1.07);
}

.titulo {
	font-size: 23px;
	display: inline-block;
	padding: 10px;
}

.subtitulo {
	font-size: 18px;
	display: inline-block;
	padding: 10px;
}

#footer{
	display: flex;
	flex-wrap: wrap;
	grid-area: footer;
	bottom: 0;
	width: 100%;
	background-color: #c5a25b;
	height: 70px;
	justify-content: space-around;
}


#footer ul{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	position: relative;
	text-decoration: none;
	padding: 15px;
	width: 100%;
}


#footer a{
	text-decoration: none;
	font-family: 'Aleo', serif;
	color: #000;
	font-size: 25px;
	transition: all 0.25s ease-in-out;
}

#footer a:hover{
	color: #fff;
}	

#footer .hover:hover{
	transform: scale(1.1);
}

@keyframes animacion{
	0%{
		transform: translate(-70px);
	}
	100%{
		transform: translate(0px);
	}
}

#header {
	animation-name: animacion;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 0.85s;
	animation-delay: 0.2s;
}