@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Ubuntu&display=swap');

*{
	margin: 0;
	padding: 0;
}


#gridInicio {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(5 1fr);
	grid-template-areas:
	"nav" 
	"futtot"
	"futmas"
	"futfem";
	grid-gap: 2rem;
	background-image: url(../imagenes/wallp.jpg);
	background-position: center;
	background-size: cover;
	color: #c5a25b;
	justify-items: center;
	align-items: center;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
}

@media all and (min-width: 768px) {
	#gridInicio{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);		
		grid-template-areas:
		"nav nav" 
		"futmas futtot"
		"futfem futtot";
		grid-gap: 2rem;
	    background-image: url(../imagenes/wallp.jpg);
	    background-position: center;
	    background-size: cover;
	    color: #c5a25b;
	    justify-items: center;
	    align-items: center;
	    height: 100vh;
		font-family: 'Ubuntu', sans-serif;
		width: 100%;
	}
}


.navCss {
	grid-area: nav;
	display: flex;
	top: 0 ;
	background-color: #000 !important;
	width: 100% ;
	height: 90px ;
	flex-direction: row ;
	justify-content: space-evenly ;
}


.container-fluid.navbar-brand {
	width: 350px;
	height: 90px;
}

.navbar-brand img{
	display: flex;
	height: 75px ;
	align-items: center ;
	justify-content: center ;	
}



.navbar-nav{
	width: 100% ;
	flex-wrap: wrap ;
	justify-content: space-evenly ;
	align-items: center ;
}


.nav-item {
	margin: 20px 10px ;
}



.nav-link {
	font-size: 28px ;	
	font-family: 'Aleo', serif !important;
	color: #c5a25b !important;
	border-radius: 2px !important;
	transition: all 0.25s ease-in-out ;
}

.nav-link:hover{
	background-color: #c5a25b ;
	color: #000 !important;
}


.nav-link.active{
	color: #ccc !important;
	font-size: 33px ;
}


/* quiero que cuando se despliegue el nav,
tenga fondo negro y borde dorado, pero tiene alguna
falla porque tarda en ponerse el fondo y borde */
.show {
	background-color: black !important;
    border: 3px solid #c5a25b95 !important;
}

.navbar-toggler {
	border: 2px solid #c5a25b !important;
}

.futbolFemenino {
	grid-area: futfem;
}

.futbolMasculino {
	grid-area: futmas;
}


.futbolTotal {
	grid-area: futtot;
}

.border {
	display:flex ;
	flex-wrap: wrap;
	justify-items: center;
	align-items: center;
	background-color: #5557;
	height: auto;
	border-radius: 20px;
	cursor: pointer;
	border: 5px solid #0009;
	width: 80%;
	transition: all 0.25s ease-in-out;
}

.border:hover {
	color: #fff;
	background-color: #c5a25b95;
	transform: scale(1.07);
}

.titulo {
	font-size: 23px;
	display: inline-block;
	padding: 10px;
}

.subtitulo {
	font-size: 18px;
	display: inline-block;
	padding: 10px;
}

#footer{
	display: flex;
	flex-wrap: wrap;
	grid-area: footer;
	bottom: 0;
	width: 100%;
	background-color: #c5a25b;
	height: 70px;
	justify-content: space-around;
}


#footer ul{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	position: relative;
	text-decoration: none;
	padding: 15px;
	width: 100%;
}


#footer a{
	text-decoration: none;
	font-family: 'Aleo', serif;
	color: #000;
	font-size: 25px;
	transition: all 0.25s ease-in-out;
}

#footer a:hover{
	color: #fff;
}	

#footer .hover:hover{
	transform: scale(1.1);
}

@keyframes animacion{
	0%{
		transform: translate(-70px);
	}
	100%{
		transform: translate(0px);
	}
}

#header {
	animation-name: animacion;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 0.85s;
	animation-delay: 0.2s;
}

.mainContent {
	background-image: url(../imagenes/wallp.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	min-height: 950px;
	width: auto;
	background-repeat: no-repeat;
}

.formInscripcion {
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	color: #c5a25b;
	padding: 10px;
	font-family: 'Ubuntu', sans-serif;
}

.tituloInicial {
	font-size: 35px;
	color: #c5a25b;
	padding: 10px;
	font-family: 'Ubuntu', sans-serif;
	height: auto;
	width: 100%;
	padding-left: 35%;
	padding-top: 60px;
}



.subtituloInicial {
	font-size: 20px;
	color: #c5a25b;
	padding: 10px;
	width: 1500px;
	font-family: 'Ubuntu', sans-serif;
	padding-left: 15%;
}

.mb-3 {
	padding: 10px;
	width: 400px;
	justify-content: center;
	align-items: center;
}
